* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    --dark-grey: rgb(44, 44, 44);
}

body {
    background-color: #f7f8fa;
    display: flex;
    flex-direction: row; 
    height: 100vh;
    font-family: Roboto, sans-serif;
}

p {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight:600;
}

#sign-up-header {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 0 280px 15px 25px;
}

#left-side {
    width: 35vw;
    height: 100vh;
    background-color: #596D48;
}

#right-side {
    width: 65vw;
    display:flex;
    flex-direction: column;
}

.space {
    height: 30%;
}

form {
    width: 100%;
    background-color: white;
    box-shadow: 0 6px 6px -6px rgb(192, 192, 192);
    height: 40%;
    padding: 15px 0px 30px 30px;
}

label {
    font-size: 10px;
    letter-spacing: 2px;
    color: var(--dark-grey);
    font-weight:600;
    padding-bottom:2px;
}

input {
    border: 1px solid lightgrey;
    border-radius:5px;
    height: 24px;
}

.row {
    display:flex;
    flex-direction: row;
}

/* haut | droit | bas | gauche */

h3 {
    padding-bottom: 20px;
    color: var(--dark-grey);
    font-weight:700;
    font-size:20px;
}

.align {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 15px 0px;
}
